$divider-color: #ccc;
.letters-row{
    display: flex;
    margin-bottom: 10px;
}

square:last-of-type{
    border-right: 1px solid var(--tutorial-square-border-color);
}

h5{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.last{
    border-bottom: 1px solid $divider-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.close-icon{
    cursor: pointer;
    float: right;
    margin-top: 12px;
    margin-right: -12px;
}   

square::ng-deep {
        .square {
            background-color: var(--tutorial-square-color);
            border: 1px solid var(--tutorial-square-border-color);
            border-right: none;
        }
        
}

.bold{
    font-weight: bold;
}