$divider-color: #ccc;
.letters-row{
    display: flex;
    margin-bottom: 10px;
}

square:last-of-type{
    border-right: 1px solid black
}

h5{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
}

.last{
    border-bottom: 1px solid $divider-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.close-icon{
    cursor: pointer;
    float: right;
}   