
<div class="header-wrapper">
    <div class="letters-row">
        <i (click)="onHelpClick()" class="icon fa-regular fa-lg fa-circle-question"></i>
        <square [header]="true" clueNumber="15" letter="C"></square>
        <square [header]="true" letter="R"></square>
        <square [header]="true" letter="A"></square>
        <square [header]="true" letter="W"></square>
        <square [header]="true" letter="S"></square>
        <square [header]="true" letter="W"></square>
        <square [header]="true" letter="O"></square>
        <square [header]="true" letter="R"></square>
        <square [header]="true" letter="D"></square>
        <!-- <i (click)="onSettingsClick()" class="icon fa-solid fa-lg fa-rotate-right"></i> -->
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                <i class="fa-solid fa-bars" id="dropdownBasic1" ngbDropdownToggle></i>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="onMenuPress('practice')" ngbDropdownItem>Practice mode</button>
                    <button (click)="onMenuPress('settings')" ngbDropdownItem>Settings</button>
                    <button (click)="onMenuPress('stats')" ngbDropdownItem>Statistics</button>
                    <button (click)="onMenuPress('about')" ngbDropdownItem>About</button>
                </div>
                </div>
        </div>
    </div>
</div>
