.letters-row{
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-wrapper{
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.icon{
    margin-top: 23px;
    margin-left: 2%;
    margin-right: 3%;
    cursor: pointer;
}

square{
    margin-top: 9px;
}
square:last-of-type{
    border-right: 1px solid var(--square-border-color);
}

.menu{
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 13px;
}

.fa-bars{
    font-size: 20px;

    &:hover{
        cursor: pointer;
    }

    //hide bootstrap caret that gets added to dropdown
    &::after{
        display: none;
    }
}

.dropdown-menu{
    background: var(--body-color);
    border-color: var(--menu-border-color);
    button{
        color: var(--text-color);
    }
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.dropdown-item:hover{
    background-color: var(--menu-hover-color);
}