
<div class="header-wrapper">
    <div class="letters-row">
        <i class="fa-regular fa-lg fa-circle-question"></i>

        <square [header]="true" clueNumber="12" letter="C"></square>
        <square [header]="true" letter="R"></square>
        <square [header]="true" letter="A"></square>
        <square [header]="true" letter="W"></square>
        <square [header]="true" letter="S"></square>
        <square [header]="true" letter="W"></square>
        <square [header]="true" letter="O"></square>
        <square [header]="true" letter="R"></square>
        <square [header]="true" letter="D"></square>
        <i class="fa-solid fa-lg fa-gear"></i>
    </div>
</div>
