.keyboard-row{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;   
}

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: var(--keyboard-button-default-color);
    border-radius: 3px;
    font-size: 1rem;
    margin-right: 2.5px;
    margin-left: 2.5px;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    border: none;

    &:active{
        filter: brightness(75%);
    }
     
    //have to have this bc otherwise the back button shows up as blue on iOS
    //no idea why
    i { 
        color:var(--keyboard-button-label-color) !important;
    }



}

@media (min-width: 519.98px) { //desktop
    .button-wrapper{
      min-width: 48px;
    }
  }

@media (max-width: 413.98px) { //iphone se
    .button-wrapper{
      min-width: 30px;
  }
}

@media (max-width: 360px) { //iphone 5
    .button-wrapper{
      min-width: 27px;
      max-width: 27px;
      padding: 3px;
    }
}