<div class="keyboard-wrapper">
    <div class="keyboard-row">
        <keyboard-button *ngFor="let letter of lettersRow1" (click)="onKeypress(letter)" [label]="letter"></keyboard-button>
    </div>
    <div class="keyboard-row">
        <keyboard-button *ngFor="let letter of lettersRow2" (click)="onKeypress(letter)" [label]="letter"></keyboard-button>
    </div>
    <div class="keyboard-row">
        <keyboard-button *ngFor="let letter of lettersRow3" (click)="onKeypress(letter)" [label]="letter"></keyboard-button>
        <div (click)="onKeypress('BKSP')" class="button-wrapper noselect">
            <i style="font-weight: 900;" class="fa-regular fa-lg fa-delete-left"></i>
        </div>
    </div>
</div>