<div class="keyboard-wrapper">
  <div class="keyboard-row">
    @for (letter of lettersRow1; track letter) {
      <app-keyboard-button
        (click)="onKeypress(letter)"
        [state]="getState(letter)"
        [label]="letter"
      ></app-keyboard-button>
    }
  </div>
  <div class="keyboard-row">
    @for (letter of lettersRow2; track letter) {
      <app-keyboard-button
        (click)="onKeypress(letter)"
        [state]="getState(letter)"
        [label]="letter"
      ></app-keyboard-button>
    }
  </div>
  <div class="keyboard-row">
    @for (letter of lettersRow3; track letter) {
      <app-keyboard-button
        (click)="onKeypress(letter)"
        [state]="getState(letter)"
        [label]="letter"
      ></app-keyboard-button>
    }
    <button
      tabindex="-1"
      (click)="onKeypress('BKSP')"
      class="button-wrapper noselect"
      >
      <i class="fa-solid fa-lg fa-delete-left"></i>
    </button>
  </div>
</div>
