$level-current-color:#fada4a;
$level-correct-color: #538d4e;
$level-upcoming-color: #ccc;

.level{
    border: 1px solid ;
    height: 26px;
    width: 26px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: all 0.2s ease-in;
    &:last-of-type{
        margin-right: 0;
    }
    &.upcoming{
        color: var(--level-upcoming-text-color);
        border: 1px solid var(--level-upcoming-border-color);
        background-color: var(--level-upcoming-bg-color);
    }
    &.completed{
        color: var(--level-completed-text-color);
        border: 1px solid var(--level-completed-border-color);
        background-color: var(--level-completed-bg-color);
    }
    &.current{
        color: var(--level-current-text-color);
        border: 1px solid var(--level-current-border-color);
        background-color: var(--level-current-bg-color);
    }
}

.app-progress-bar{
    display: flex;
    width: fit-content;
    background: linear-gradient(180deg, 
    rgba(0,0,0,0) calc(50% - 1px), 
    rgba(192,192,192,1) calc(50%), 
    rgba(0,0,0,0) calc(50% + 1px)
);
}