$divider-color: #ccc;

h5{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.last{
    border-bottom: 1px solid $divider-color;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.close-icon{
    cursor: pointer;
    float: right;
    margin-top: 12px;
    margin-right: -12px;
}

.question{
    font-weight: bold;
    margin-bottom: 10px;
}

.answer{
    margin-bottom: 30px;
}

.footer{
    color: #bbb;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}