<div class="container">
    <i (click)="closeEvent()" class="close-icon fa-solid fa-xl fa-xmark"></i>
    <h5>About</h5>
    <p>
        Advance through all seven levels of the Crawsword before you run out of guesses.
      </p>
      <p>
        Each level contains a single crossword clue to solve. The clues become harder as you advance throught the levels.
      </p>
      <p class="last">
        If you check and your answer is wrong, a guess will be used up and the color of the tiles will change to show how close your guess was to the answer.
      </p>
</div>
