img{
    height: 48px;
    width: 48px;
}

.level{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.upcoming{
        opacity: 0.3;
    }
}

.day{
    font-family: Georgia, 'Times New Roman', Times, serif;
}