.square{
    width: 49px;
    height: 49px;
    border: 1px solid var(--square-border-color);
    border-right: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--square-default-color);

    &.present{
        background-color: var(--square-present-bg-color);
        .letter, .clue-number {
            color: var(--letter-checked-color);
        }
    }
    &.correct{
        background-color: var(--square-correct-bg-color);
        .letter, .clue-number {
            color: var(--letter-checked-color);
        }
    }
    &.absent{
        background-color: var(--square-absent-bg-color);
        .letter, .clue-number {
            color: var(--letter-checked-color);
        }
    }

    

    @media (min-width: 374.99px) { //iphone 5

        &.header{
            width: 29px !important;
            height: 29px !important;
            background-color: var(--header-square-color);
            
            .letter {
                font-size: 1.17rem !important;
                margin-top: 5px !important;
            }
            .clue-number{
                font-size: 0.48rem !important;
            }
        }
    
        }
    @media (max-width: 374.98px) { //iphone 5

    &.header{
        width: 27px !important;
        height: 29px !important;


        background-color: var(--header-square-color);
        
        .letter {
            font-size: 1.17rem !important;
            margin-top: 5px !important;
        }
        .clue-number{
            font-size: 0.48rem !important;
        }
    }

    }

    .letter{
        font-weight: 500;
        font-size: 1.98rem;
        margin-top: 8px;
        color: var(--letter-default-color);
        &.checked{
            color: var(--letter-checked-color);
        }
    }


    .clue-number{
        font-size: 0.67rem;
        position: absolute;
        top: -1px;
        left: 3px;
    }

    &.highlighted{
        background-color: var(--square-highlighted-color);
    }
}

@media (max-width: 767.98px) {
    .square{
        &.letters-8{
            width: 43px;
            height: 43px;
            .letter {
                font-size: 1.74rem;
            }
            .clue-number{
                font-size: 0.59rem;
            }
        }

    }
}


@media (max-width: 374.98px) { //iphone 5
    
    .square{
        &.letters-7{
            width: 36px;
            height: 36px;
            .letter {
                font-size: 1.6rem;
            }
            .clue-number{
                font-size: 0.59rem;
            }
        }
        &.letters-8{
            width: 34px;
            height: 34px;
            .letter {
                font-size: 1.5rem;
            }
            .clue-number{
                font-size: 0.59rem;
            }
        }
    }
}