<div class="container">
    <div class="letters-row header">
      <square clueNumber="12" letter="C"></square>
      <square letter="R"></square>
      <square letter="O"></square>
      <square letter="S"></square>
      <square letter="S"></square>
      <square letter="F"></square>
      <square letter="I"></square>
      <square letter="R"></square>
      <square letter="E"></square>

    </div>
  <div class="row">
    <div class="clue">
      {{clue.clueNumber}}. {{clue.clue}}

    </div>
  </div>
  <div class="letters-row" [ngClass]="{'fade-out-bck': solved, 'fade-in-fwd': !solved}">
    <ng-container *ngFor="let letter of letters; index as i; first as isFirst">
      
      <square (click)="setEntryIndex(i)" [highlighted]="entryIndex === i" *ngIf="isFirst" [clueNumber]="'' + clue.clueNumber" [state]="getState(i)" [letter]=getLetter(i)></square>
      <square (click)="setEntryIndex(i)" [highlighted]="entryIndex === i" *ngIf="!isFirst" [state]="getState(i)" [letter]=getLetter(i)></square>
    </ng-container>
  </div>
  <button (click)="renderConfetti()">Check puzzle</button>
  <i class="wrong-guess red fa-solid fa-lg fa-xmark"></i>
  <i class="wrong-guess red fa-solid fa-lg fa-xmark"></i>
  <i class="wrong-guess fa-solid fa-lg fa-xmark"></i>
  <i class="wrong-guess fa-solid fa-lg fa-xmark"></i>
  <i class="wrong-guess fa-solid fa-lg fa-xmark"></i>
  <i class="wrong-guess fa-solid fa-lg fa-xmark"></i>
  <i class="wrong-guess fa-solid fa-lg fa-xmark"></i>



  <div class="levels-row">
    <ng-container *ngFor="let day of days; index as i">
      <level [state]="getLevelState(i)" [day]="day"></level>
      <!-- <level state="complete" [day]="day"></level> -->

    </ng-container>
  </div>
</div>
