<app-header (helpClickEvent)="toggleHelpModal()" (settingsClickEvent)="onSettingsClick()"></app-header>

<div class="container">
    <div class="levels-row">
      <progress-bar [currentLevel]="currentDisplayLevel"></progress-bar>
    </div>
  <div class="row">
    <div class="clue">
      {{clue.clueNumber}}. {{clue.clue}}

    </div>
  </div>
  <div class="letters-wrapper">
    <div style="transform: scale(0.5);" class="letters-row" [ngClass]="{'fade-out-bck': solved, 'fade-in-fwd': !solved}">
      <ng-container *ngFor="let letter of letters; index as i; first as isFirst">
        <square [letterSize]="letters.length" (click)="setEntryIndex(i)" [highlighted]="entryIndex === i" *ngIf="isFirst" [clueNumber]="'' + clue.clueNumber" [state]="getState(i)" [letter]=getLetter(i)></square>
        <square [letterSize]="letters.length" (click)="setEntryIndex(i)" [highlighted]="entryIndex === i" *ngIf="!isFirst" [state]="getState(i)" [letter]=getLetter(i)></square>
      </ng-container>
    </div>
  </div>

  <div class="check-row">

    <div class="checks">
      <ng-container *ngFor="let e of [].constructor(MAX_INCORRECT_GUESSES); index as i">
        <i class="wrong-guess fa-solid fa-lg fa-xmark" [ngClass]="{'red': i < incorrectGuesses}" ></i>
      </ng-container>
    </div>
  </div>
  <div class="keyboard-container">
    <keyboard (keypressEvent)="handleVirtualKeypress($event)"></keyboard>
  </div>
</div>
<div *ngIf="showHelpModal" class="help-overlay">
  <div class="container">
    <i (click)="toggleHelpModal()" class="close-icon fa-solid fa-xl fa-xmark"></i>
    <h5>How to play</h5>
    <p>
      Advance through all seven levels of the crawsword before you run out of guesses.
    </p>
    <p>
      Each level contains a single crossword clue to solve. The clues become harder as you advance throught the levels.
    </p>
    <p>
      If you check and your answer is wrong, a guess will be used and you'll get feedback on your guess:
    </p>
    <img style="margin-bottom: 15px;" src="../assets/images/example.png">
    <p>
      In this case, all the letters are correct except the middle "E". A red X is added to the total to indicate that a guess has been used up.
    </p>
  </div>
</div>