<app-header></app-header>

<div class="container">
    <div class="levels-row">
      <progress-bar [currentLevel]="currentDisplayLevel"></progress-bar>
    </div>
  <div class="row">
    <div class="clue">
      {{clue.clueNumber}}. {{clue.clue}}

    </div>
  </div>
  <div class="letters-wrapper">
    <div style="transform: scale(0.5);" class="letters-row" [ngClass]="{'fade-out-bck': solved, 'fade-in-fwd': !solved}">
      <ng-container *ngFor="let letter of letters; index as i; first as isFirst">
        <square [letterSize]="letters.length" (click)="setEntryIndex(i)" [highlighted]="entryIndex === i" *ngIf="isFirst" [clueNumber]="'' + clue.clueNumber" [state]="getState(i)" [letter]=getLetter(i)></square>
        <square [letterSize]="letters.length" (click)="setEntryIndex(i)" [highlighted]="entryIndex === i" *ngIf="!isFirst" [state]="getState(i)" [letter]=getLetter(i)></square>
      </ng-container>
    </div>
  </div>

  <div class="check-row">

    <div class="checks">
      <ng-container *ngFor="let e of [].constructor(MAX_INCORRECT_GUESSES); index as i">
        <i class="wrong-guess fa-solid fa-lg fa-xmark" [ngClass]="{'red': i < incorrectGuesses}" ></i>
      </ng-container>
    </div>
  </div>
  <div class="keyboard-container">
    <keyboard (keypressEvent)="handleVirtualKeypress($event)"></keyboard>
  </div>





</div>
