.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: #EFEFEF;
    border-radius: 3px;
    font-size: 0.85rem;
    margin-right: 5px;
    width: fit-content;
    min-width: 30px;
    padding: 3px;
    cursor: pointer;
    
    .button-label{
        font-weight: 700;
    }
}