$default-letter-color: #000;
$filled-letter-color: #fff;
$present-bg-color: rgb(201, 180, 88);
$correct-bg-color: rgb(106, 170, 100);
$absent-bg-color: rgb(120, 124, 126);

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: var(--keyboard-button-default-color);
    border-radius: 3px;
    font-size: 0.9rem;
    margin-right: 2.5px;
    margin-left: 2.5px;
    width: fit-content;
    min-width: 33px;
    padding: 10px;
    cursor: pointer;
    color: var(--keyboard-button-label-color);
    box-shadow: none;
    border: none;
    
    &:active{
        filter: brightness(75%);
    }

    &.check-button{
        padding: 3px;
    }


    .button-label{
        font-weight: 700;
    }

    &.present{
        background-color: var(--keyboard-button-present-color);
        color: var(--keyboard-button-label-filled-color);
    }
    &.correct{
        background-color: var(--keyboard-button-correct-color);
        color: var(--keyboard-button-label-filled-color);
    }
    &.absent{
        background-color: var(--keyboard-button-absent-color);
        color: var(--keyboard-button-label-filled-color);
    }
}

@media (max-width: 413.98px) { //iphone se
    .button-wrapper{
      min-width: 30px; //prevents horizontal scroll of the letter box on large screens
    }
  }

  @media (max-width: 360px) { //iphone 5
    .button-wrapper{
      min-width: 27px; //prevents horizontal scroll of the letter box on large screens
      max-width: 27px; //prevents horizontal scroll of the letter box on large screens

    }
    .check-button{
        padding: 0 !important;
        font-size: 0.7rem;
        min-width: fit-content;
    }
  }