$default-letter-color: #000;
$filled-letter-color: #fff;
$present-bg-color: rgb(201, 180, 88);
$correct-bg-color: rgb(106, 170, 100);
$absent-bg-color: rgb(120, 124, 126);

.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    background-color: #EFEFEF;
    border-radius: 3px;
    font-size: 0.85rem;
    margin-right: 5px;
    width: fit-content;
    min-width: 30px;
    padding: 3px;
    cursor: pointer;
    color: $default-letter-color;
    box-shadow: none;
    border: none;

    &:active{
        filter: brightness(75%);
    }


    .button-label{
        font-weight: 700;
    }

    &.present{
        background-color: $present-bg-color;
        color: $filled-letter-color;
    }
    &.correct{
        background-color: $correct-bg-color;
        color: $filled-letter-color;
    }
    &.absent{
        background-color: $absent-bg-color;
        color: $filled-letter-color;
    }
}