/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './project_variables';
@import '~bootstrap/scss/bootstrap';

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

body{
  touch-action: manipulation;
  overflow-x: visible;
  background-color: var(--body-color);
  color: var(--text-color);
}

//light mode (i.e. default) color variables
:root {

  //body
  --body-color: #fff; // or any global you wish to share with components 
  --text-color: #000;
  --link-color: #2a59e0;

  //header
  --header-square-color: #fff;
  --menu-border-color: rgba(0, 0, 0, 0.15);
  --menu-hover-color: #eee;

  //checks
  --unused-check-color: #ccc;

  //squares
  --square-border-color: #000;
  --letter-default-color: #000;
  --letter-checked-color: #fff;
  --square-highlighted-color: #fada4a;
  --square-default-color: #fff;
  --square-present-bg-color: #c9b559;
  --square-correct-bg-color: #6aaa64;
  --square-absent-bg-color: #787c7e;

  --tutorial-square-color: var(--square-default-color);
  --tutorial-square-border-color: var(--square-border-color);
  
  //keyboard
  --keyboard-button-default-color: #d3d6da;
  --keyboard-button-present-color: var(--square-present-bg-color);
  --keyboard-button-correct-color: var(--square-correct-bg-color);
  --keyboard-button-absent-color: var(--square-absent-bg-color);
  --keyboard-button-label-color: #000;
  --keyboard-button-label-filled-color: #fff;

  //progress
  --level-current-bg-color: #fada4a;
  --level-current-text-color: #000;
  --level-current-border-color: #000;

  --level-completed-text-color: #fff;
  --level-completed-bg-color: var(--square-correct-bg-color);
  --level-completed-border-color: #000;

  --level-upcoming-text-color: #ccc;
  --level-upcoming-bg-color: #fff;
  --level-upcoming-border-color: #ccc;

  //modals
  --modal-text-color: #000;
  --modal-bg-color: #fff;
  --modal-border-color: transparent;

  //toast
  --toast-bg-color: #000;
  --toast-text-color: #fff;

}

//dark mode color variables--------------------------------------
html[data-theme='dark'] {

  //body
  --body-color: #121213;
  --text-color: #fff;
  --link-color: #577ce6;

  //header
  --header-square-color: #3a3a3c;
  --menu-border-color: rgba(255, 255, 255, 0.15);
  --menu-hover-color: #473f7b;

  //checks
  --unused-check-color: #4a4a4c;

  //squares
  --square-border-color: #000;
  --letter-default-color: #fff;
  --letter-checked-color: #fff;
  --square-highlighted-color: #5378a5;
  --square-default-color: #473f7b;
  --square-present-bg-color: #b59f3b;
  --square-correct-bg-color: #538d4e;
  --square-absent-bg-color: #3a3a3c;

  --tutorial-square-color: #121213;
  --tutorial-square-border-color: #888;

  
  //keyboard
  --keyboard-button-default-color: #818384;
  --keyboard-button-present-color: var(--square-present-bg-color);
  --keyboard-button-correct-color: var(--square-correct-bg-color);
  --keyboard-button-absent-color: var(--square-absent-bg-color);
  --keyboard-button-label-color: #fff;
  --keyboard-button-label-filled-color: #fff;

  //progress
  --level-current-bg-color: #fada4a;
  --level-current-text-color: #000;
  --level-current-border-color: #000;

  --level-completed-text-color: #fff;
  --level-completed-bg-color: var(--square-correct-bg-color);
  --level-completed-border-color: #000;

  --level-upcoming-text-color: #888;
  --level-upcoming-bg-color: #121213;
  --level-upcoming-border-color: #888;


  //modals
  --modal-text-color: #fff;
  --modal-bg-color: #222;
  --modal-border-color: #333;

  //toast
  --toast-bg-color: #fff;
  --toast-text-color: #000;
}

html[data-contrast-theme='contrast'] {
  --square-present-bg-color: #0455A4;
  --square-correct-bg-color: #E84A27;

  --level-completed-bg-color: #E84A27;
  --level-current-bg-color: #0455A4;
  --level-current-text-color: #fff;

}


a{
  color: var(--link-color);
}