<div class="container">
    <ais-instantsearch [config]="config">
        <div class="left-panel">
            <ais-clear-refinements></ais-clear-refinements>
            <h2>Filters</h2>
            <ais-refinement-list attribute="day" operator="or" [searchable]="false"></ais-refinement-list>
            <ais-configure [searchParameters]="{ hitsPerPage: 8 }"></ais-configure>
        </div>
        <div class="right-panel">
            <ais-search-box></ais-search-box>
            <ais-hits>
            <ng-template let-hits="hits">
                <ol class="ais-Hits-list flip-container">
                <li (mouseenter)="showAnswer(i)" (mouseleave)="hideAnswer(i)" *ngFor="let hit of hits; index as i;" class="ais-Hits-item">
                    <div *ngIf="showAnswerIndex !== i">
                        {{hit.clue}}
                    </div>
                    <div *ngIf="showAnswerIndex === i">
                        {{hit.answer}}
                    </div>
                </li>
                </ol>
            </ng-template>
            </ais-hits>
        </div>
    </ais-instantsearch>
</div>
