<div class="container">
    <h3>Clue search</h3>
    <ais-instantsearch [config]="config">
        <div class="left-panel">
            <ais-clear-refinements></ais-clear-refinements>
            <ais-refinement-list attribute="day" operator="or" [searchable]="false"></ais-refinement-list>
            <ais-configure [searchParameters]="{ hitsPerPage: 5 }"></ais-configure>
        </div>
        <div class="right-panel">
            <ais-search-box></ais-search-box>
            <ais-hits>
            <ng-template let-hits="hits">
                <ol class="ais-Hits-list">
                    <li class="flip-container" *ngFor="let hit of hits; index as i;">
                        <div class="flipper">
                            <div class="ais-Hits-item front">
                                {{hit.clue}}
                            </div>
                            <div class="ais-Hits-item back">
                                {{hit.answer}}
                            </div>
                        </div>
                    </li>
                </ol>
            </ng-template>
            </ais-hits>
        </div>
    </ais-instantsearch>
</div>
