<div class="container">
    <i (click)="closeEvent()" (keyup.enter)="closeEvent()" tabindex="0" role="button" aria-label="Close" class="close-icon fa-solid fa-xl fa-xmark"></i>
    <h5>Settings</h5>
    <div class="setting-row">
        <div class="setting-label">Dark mode</div>
        <div class="form-check form-switch switch-right">
            <input [checked]="isDarkMode()" (change)="darkModeSwitchChange()" type="checkbox" class="form-check-input" role="switch" id="customSwitch1">
            <label class="form-check-label" for="customSwitch1"></label>
        </div>
    </div>
    <div class="setting-row">
      <div class="setting-label">High contrast mode</div>
      <div class="form-check form-switch switch-right">
          <input [checked]="isContrastMode()" (change)="contrastSwitchChange()" type="checkbox" class="form-check-input" role="switch" id="customSwitch2">
          <label class="form-check-label" for="customSwitch2"></label>
      </div>
    </div>
    <div class="setting-row">
      <div class="setting-label">Feedback</div>
      <a href="mailto:wecraw.industries@gmail.com?subject=Crawsword%20Feedback" class="link-right">Email</a>
    </div>
    <div class="setting-row">
      <div class="setting-label">Community</div>
      <a href="https://twitter.com/crawsword" class="link-right">Twitter</a>
    </div>
    <div class="setting-row">
      <div class="setting-label">Questions?</div>
      <a href="#" (click)="faqEvent()" class="link-right">FAQ</a>
    </div>
</div>
